@charset "UTF-8";

// Equal height cards
@include grid-media-min ('md') {
  .ds-entity--node {
    height: 100%;

    .su-card {
      height: 100%;
    }
  }
  
  // Card paragraph type
  .ptype-stanford-card {
    height: 100%;

    .ds-entity--stanford-card {
      height: 100%;

      .su-card {
        height: 100%;
      }
    }
  }

  // More News section
  .stanford-news.vertical-teaser-term {
    .su-list-unstyled {
      // Needed when less than 4 news items
      @include responsive-spacing('margin-bottom', 3);
    }
  }

  // More Publications section
  .stanford-publications-related {
    .su-card {
      height: 100%;
    }
  }
  
}

// Card color variants
.irsr-cards-color--red,
.irsr-cards-color--grey {
  .su-card {
    .su-link {
      color: $su-color-white;

      &::after {
        background-color: $su-color-white;
      }
    }

    .su-card__contents {
      color: $su-color-white;

      a {
        color: $su-color-white;
        // color: $su-color-white !important;

        &:hover,
        &:focus,
        &:active {
          text-decoration: underline;
          color: $su-color-white;

          &::after {
            background-color: $su-color-white;
          }
        }

        &::after {
          background-color: $su-color-white;
        }
      }
    }

    // News card
    &.su-news-vertical-teaser {
      .news-vertical-teaser__topics {
        a {
          color: $su-color-white;

          &:hover,
          &:focus,
          &:active {
            text-decoration: underline;
            color: $su-color-white;
          }
        }
      }
    }

    // Event card
    &.su-event-card {
      .su-event-start-month,
      .su-event-start-date,
      .su-event-list-item__date__seperator,
      .su-event-end-month,
      .su-event-end-date {
        color: $su-color-white;
      }

      .su-event-list-item__details {
        color: $su-color-white;

        .event-list-item__type a {
          color: $su-color-white;
        }

        h2 {
          a {
            color: $su-color-white;

            &:hover,
            &:focus,
            &:active {
              text-decoration: underline;
              color: $su-color-white;
            }

            &::after {
              background-color: $su-color-white;
            }
          }
        } 

        .date-icon::before,
        .map-icon::before {
          color: $su-color-white;
        }
      }
    }

    // Course Card
    &.su-course-vertical-teaser {
      .su-course-header {
        color: $su-color-white;
      }

      .su-course-link {
        .su-link {

          &::after {
            background-color: $su-color-white;
          }

          a {
            color: $su-color-white;

            &:hover,
            &:focus,
            &:active {
              text-decoration: underline;
              color: $su-color-white;
            }
          }

        }
      }
    }
  }
}

.irsr-cards-color--red {
  .su-card {
    background-color: $su-color-digital-red;

    .su-button,
    .su-button--big {
      background-color: $su-color-black;
    }

    .su-button--secondary {
      background-color: $su-color-digital-red;
      box-shadow: inset 0 0 0 2px $su-color-white;
    }
  }
}

.irsr-cards-color--grey {
  .su-card {
    background-color: $su-color-black;

    .su-button,
    .su-button--big {
      background-color: $su-color-digital-red;
    }

    .su-button--secondary {
      background-color: $su-color-black;
      box-shadow: inset 0 0 0 2px $su-color-white;
    }
  }

  .su-list-button {
    .su-button {
      background-color: $su-color-black;
    }
  }
}
