@charset "UTF-8";

// My theme's config settings.
$su-image-path: '~decanter/core/src/img';
$fa-font-path:  '~@fortawesome/fontawesome-free/webfonts';

// Import Decanter Library:
@import 'decanter/core/src/scss/decanter-no-markup';

// Align lists and teasers with h1 for full-width pages
.layout--layout-paragraphs-one-column {
  .ptype-stanford-lists,
  .paragraph--type--stanford-lists,
  .ptype-stanford-entity,
  .paragraph--type--stanford-entity {
    @include grid-media-max('2xl') {
      max-width: calc(83.33333% - 8px);
    }

    @include grid-media-max('xl') {
      max-width: calc(83.33333% - 6.66667px);
    }

    @include grid-media-max('lg') {
      max-width: calc(83.33333% - 6px);
    }

    @include grid-media-max('sm') {
      max-width: calc(83.33333% - 3.33333px);
    }

    // Individual teaser max-width
    .su-card {
      max-width: 100%;
    }
  }
}

.su-page-components {
  .layout--layout-paragraphs-two-column,
  .layout--layout-paragraphs-three-column {
    @include grid-media-max('2xl') {
      max-width: calc(83.33333% - 8px);
    }
  
    @include grid-media-max('xl') {
      max-width: calc(83.33333% - 6.66667px);
    }
  
    @include grid-media-max('lg') {
      max-width: calc(83.33333% - 6px);
    }
  
    @include grid-media-max('sm') {
      max-width: calc(83.33333% - 3.33333px);
    }

    .ptype-stanford-lists,
    .paragraph--type--stanford-lists,
    .ptype-stanford-entity,
    .paragraph--type--stanford-entity {
      max-width: 100%;

      // Individual teaser max-width
      .su-card {
        max-width: 100%;
      }
    }
  
  }
}
